
<div class="container-vnp-transaction-result">

    <p><%= message %></p>

    <div>
        <button class="back-to-orders">
            <a href="/payment/bill/<%= id %>" style="text-decoration: none; color: white;">
                Go to Bill
            </a>
        </button>
    </div>
</div>

