.schedule {
    width: 100%;
    border-collapse: collapse;
}

.schedule th, .schedule td {
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
}

.schedule th {
    background-color: #f2f2f2;
}

.schedule .shift {
    background-color: #e0e0e0;
}

.schedule .shift:nth-child(2), .schedule .shift:nth-child(4), .schedule .shift:nth-child(7) {
    background-color: #cfe2f3;
}

.schedule .shift:contains("OFF") {
    background-color: #d9d9d9;
}

.header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
}

.button-performance-appraisal {
    background-color: #0397d6;
}

.button-performance-appraisal:hover {
    background-color: #107dac !important;
}


/* VNPAY RETURN URL */

.container-vnp-transaction-result {
    min-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
}

.container-vnp-transaction-result p {
    font-size: 18px;
    color: #005aa9;
    margin-bottom: 20px;
}

.back-to-orders {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.back-to-orders:hover {
    background-color: #0056b3;
}

.button-delete-inventory {
  background-color: red !important;
}