<h1>
    <%= title %>
</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Salary</th>
        </tr>
    </thead>
    <tbody>
        <% if (users && users.length> 0) { %>
            <% users.forEach(user=> { %>
                <tr>
                    <td>
                        <%= user.name %>
                    </td>
                    <td>
                        <%= user.email %>
                    </td>
                    <td>
                        <%= user.salary %>
                    </td>
                </tr>
                <% }) %>
                    <% } else { %>
                        <tr>
                            <td colspan="3">No users found</td>
                        </tr>
                        <% } %>
    </tbody>
</table>