<div class="container-form-add-user">
    <div class="return-buttons">
        <a href="/inventories">Return</a>
    </div>
    <div class="form-add-user">
        <h2>
            Add New Inventory Item
        </h2>
        <form action="/add-inventory" method="POST">
            <div>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div>
                <label for="quantity">Quantity:</label>
                <input type="number" id="quantity" name="quantity" required>
            </div>
            <div>
                <label for="price">Price:</label>
                <input type="number" id="price" name="price" step="0.01" required>
            </div>
            <div>
                <label for="category">Category:</label>
                <input type="text" id="category" name="category">
            </div>
            <div>
                <label for="description">Description:</label>
                <textarea id="description" name="description"></textarea>
            </div>
            <button type="submit">Add Item</button>
        </form>
    </div>
</div>
