<div class="navcontainer">
    <nav class="nav">
        <div class="nav-upper-options">
            <a href="/dashboard" class="nav-option">
                <img src="https://fonts.gstatic.com/s/i/materialicons/dashboard/v6/24px.svg" class="nav-img" alt="dashboard">
                <h3>Dashboard</h3>
            </a>

            <a href="/orders" class="nav-option">
                <img src="https://fonts.gstatic.com/s/i/materialicons/description/v7/24px.svg" class="nav-img" alt="orders">
                <h3>Order Tracking</h3>
            </a>

            <a href="/dishes" class="nav-option">
                <img src="https://fonts.gstatic.com/s/i/materialicons/restaurant/v7/24px.svg" class="nav-img" alt="dishes">
                <h3>Dish List</h3>
            </a>

            <a href="" class="nav-option">
                <img src="https://fonts.gstatic.com/s/i/materialicons/inventory/v7/24px.svg" class="nav-img" alt="inventory">
                <h3>Inventory Storage</h3>
            </a>

            <a href="/users" class="nav-option">
                <img src="https://fonts.gstatic.com/s/i/materialicons/person/v7/24px.svg" class="nav-img" alt="users">
                <h3>User Management</h3>
            </a>

            <a href="/users" class="nav-option">
                <img src="https://fonts.gstatic.com/s/i/materialicons/work/v7/24px.svg" class="nav-img" alt="schedules">
                <h3>Work Schedules</h3>
            </a>

            <a href="" class="nav-option">
                <img src="https://fonts.gstatic.com/s/i/materialicons/settings/v7/24px.svg" class="nav-img" alt="settings">
                <h3>Settings</h3>
            </a>

            <a href="" class="nav-option">
                <img src="https://fonts.gstatic.com/s/i/materialicons/logout/v6/24px.svg" class="nav-img" alt="logout">
                <h3>Logout</h3>
            </a>
        </div>
    </nav>
</div>
